<li>
  <%= link_to show_icon(atcoder_user), atcoder_user_url(atcoder_user.atcoder_id) %>
  <%= link_to atcoder_user.atcoder_id, atcoder_user_url(atcoder_user.atcoder_id), class: "atcoder_id" %>
  <%= render 'shared/follow_form', atcoder_user: atcoder_user %>
</li>