<% provide(:title, "Contact") %>
<h1>Contact</h1>
  <ul class="list">
    <li>Twitter: <a href="https://twitter.com/sackey_24" target="_blank">https://twitter.com/sackey_24</a></li>
    <li>GitHub: <a href="https://github.com/sackey24" target="_blank">https://github.com/sackey24</a></li>
  </ul>