<% provide(:title, "Contact") %>
<h1>Contact</h1>
  <ul class="list">
    <li>Twitter: <a href='https://twitter.com/sacckey' target='_blank'>https://twitter.com/sacckey</a></li>
    <li>GitHub: <a href='https://github.com/sacckey/AtCoderRivals' target='_blank'>https://github.com/sacckey/AtCoderRivals</a></li>
  </ul>