<% if logged_in? %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>

  <div class="col-md-8">
    <%= render 'shared/feed' %>
  </div>
</div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the AtCoder Rivals!</h1>
    <h2>
      This is the home page for the
      <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
      sample application.
    </h2>
    <%= link_to "Sign up now!", login_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>